<div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Class name here..." ng-model="url">
    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="add(url)">Add</button>
            </span>
</div>
<hr>

<!-- <form class="form-horizontal" role="form">
    <div class="jumbotron">
        <h1>Create your class room</h1>
        <div class="form-group">
            <div class="row">
                <div class="col-md-11">
                    <input class="form-control" ng-model="name" style="height: 55px !important;font-size: 25px;" id="exampleInputEmail1" placeholder="class room">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" ng-click="add(name)">Create</button>
                </div>
            </div>
            <h3>http://muttley.herokuapp.com/{{name}}</h3>
        </div>
    </div>
 -->
<!-- <div class="col-md-12">
    <div ng-repeat="class in classrooms">
        <div class="row col-md-4">
            <div class="thumbnail thumbnail-ovr">
                <section class="card">
                    <h1>{{class.name}} <a href="#/class/{{class._id}}"><span class="glyphicon glyphicon-link"></span></a></h1>
                </section>
            </div>
        </div>
    </div>
</div> -->

  <div id="card">
    <div class="member-infos">
      <h1><a href="http://dribbble.com/One_div" class="member-name" target="_blank">One div</a></h1>
      <h2 class="member-location"><a href="" class="entypo-location" target="_blank">Nantes, France</a></h2>
      <div class="member-parameters">
        <a href="" class="follow entypo-plus"></a>
        <a href="" class="options entypo-cog"></a>
         <ul class="member-socials">
         <li class="member-shots-number"><a href="http://dribbble.com/One_div">3 <span class="shots-number">shots</span></a></li>        
        <li class="member-follower"><a href="http://dribbble.com/One_div/followers">12 <span class="followers">followers</span></a></li>  
      </ul>
      </div>
      <ul class="member-contact">
        <li class="member-website" ><a class="entypo-globe"  target="_blank" href="http://one-div.com" ></a></li>
        <li class="member-twitter" ><a class="entypo-twitter" target="_blank"  href="https://twitter.com/One_div" ></a></li>
        <li class="member-hire"><a class="entypo-mail" target="_blank"  href="http://dribbble.com/One_div" ></a></li>
      </ul>

      <div class="member-photo">
          <div for="dropshots" class="wrapper-img">
        <img src="http://dribbble.s3.amazonaws.com/users/242529/avatars/small/273b902fd1562700d99b15f3c00d600d.png?1353934890" alt="" />   
            </div>
                  <label for="dropshots" class="labelimg entypo-picture">
                    
        </label>
      </div>     
    </div>
    </div>
