<main>


<header>
<link href='../css/code.css' rel='stylesheet' type='text/css' /></header>

<section class="card">
  <h1><strong>32 minutes</strong> to Consol Energy Center</h1>
  <h2>McKnight Road</h2>
  
</section>
  
<section class="card">
  <h1>View nearby events</h1>
  <h2>Justin Bieber - Nicki Minaj - other crappy singers...</h2>
</section>

<section class="card">
  <h1><strong>32 minutes</strong> to Consol Energy Center</h1>
  <h2>McKnight Road</h2>
  
</section>
<section class="card">
  <h1><strong>32 minutes</strong> to Consol Energy Center</h1>
  <h2>McKnight Road</h2>
  
</section>
<section class="card">
  <h1><strong>32 minutes</strong> to Consol Energy Center</h1>
  <h2>McKnight Road</h2>
  
</section>
<section class="card">
  <h1><strong>32 minutes</strong> to Consol Energy Center</h1>
  <h2>McKnight Road</h2>
  
</section>
<section class="card">
  <h1><strong>32 minutes</strong> to Consol Energy Center</h1>
  <h2>McKnight Road</h2>
  
</section>
  
</main>
